/* .header {
  width: 100%;
  height: 10;
  display: flex;
  align-items: center;
  background-color: #044599;
  padding: 0 20%;
  margin: 0 -10px 0;
}

.logo {
  font-size: 2rem;
  color: white;
}

.header ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.header li {
  margin: 0 1rem;
  width: 5rem;
  padding: 1rem;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #95bcf0;
  padding-bottom: 0.5rem;
  /* border-bottom: 4px solid white; */

.nav {
  overflow: hidden;
  background-color: rgb(102, 14, 53);
}
.desktop__nav {
  display: flex;
  justify-content: space-around;
}
.nav .list,
a {
  list-style-type: none;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 800;
  font-size: 17px;
}
.nav .list:hover {
  border-top: 2px solid rgb(206, 206, 49);
  border-bottom: 1px dotted rgb(206, 206, 49);
  color: rgb(33, 116, 141);
  cursor: pointer;
}
.nav a.icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .nav .list {
    display: none;
  }
  .nav .logo {
    display: flex;
    justify-content: flex-start;
  }
  .nav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .nav.responsive {
    position: relative;
  }
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive .list {
    float: none;
    display: block;
    text-align: left;
  }
}
